@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
:root{
    --cor1:#fff;
    --cor2:rgb(40, 170, 98);
}

/* Definições Basicas */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    position:relative;
    overflow-x: hidden;
    width: 100vw;
    height: 300vw;
    background: var(--cor2);
}
/* Headers */
.menu{
    background: var(--cor1);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: sticky;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:10vh;
}
#btnmenu{
    transition: 100ms;
    margin: 0 20px 0 20px;
    display: flex;
    border: 1px solid black;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#btnmenu:hover{
    cursor: pointer;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 35px;
}
.leftside{
    display: flex;
    width: 33%;
    height: 100%;
    align-items: center;
}
.leftside.ativo{
    justify-content: flex-end;
}
.midside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}
.rightside{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 33%;
    height: 100%;
}
/* Menu Lateral */
#boxmenu{
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.men_lateral{
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    position: sticky;
    width: 0vw;
    height: 100vh;
    background: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    animation: menu_saida 300ms ease;
}
.men_lateral .content-menu{
    display: none;
}
.men_lateral.ativo{
    width: 27vw;
    animation: menu_entra 300ms ease;
}
.men_lateral.ativo .content-menu{
    display: flex;
}
.menu div div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@keyframes menu_entra {
    0%{width: 0;}
    100%{width: 27vw;}
}
@keyframes menu_saida {
    0%{width: 27vw;}
    100%{width: 0vw;}
}
.content-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 95%;
    border-radius: 10px;
    background: rgb(224, 224, 224);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.12);
}
.content-menu div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 25px;
    width: 80%;
    height: 10%;
    font-size: 25px;
    background: var(--cor2);
}
.content-menu div:hover{
    cursor: pointer;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
}
.content-menu i{
    font-size:40px;
}
/* Corpo */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    position: absolute;
}
.main > .carrossel{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 80%;
    height: 60vh;
    background: var(--cor1);
}
.main > .carrossel .left,.right{
    transition: 100ms;
    cursor: pointer;
    z-index: 1;
    position: relative;
    padding: 0 2.5% 0 2.5%;
    display: flex;
    opacity: 20%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
}
.main > .carrossel .left:hover,.right:hover{
    opacity: 100%;
    font-size: 60px;
    text-shadow: 0 0 5px black;
} 
.left:hover{
    animation: anim_left 500ms infinite;
}
.right:hover{
    animation: anim_right 500ms infinite;
}
@keyframes anim_left {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes anim_right {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}